/*descendant selector*/


article p{
 font-size: 12px;
 
}
/*child selector*/
article>p{
 font-size: 22px;
 background-color: lightcoral;
}

/*general sibling selector*/
div~p
{
	 background-color: lightcoral;
}

/*adjacent siublinmg selector*/
div+p
{
	 background-color: lightcoral;
}